/* Write some CSS below */

body {
	font-family: 'Roboto', sans-serif;
	background-color: #F6E3CE;
}

.banner-wrap{
	background-image: url('images/portada.jpg') ;
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	text-align: center;
}

.box{
	 /* Sombra normal */
    box-shadow: 2px 2px 10px #666;
    /* Sombra superior sin desenfoque */
    box-shadow: 5px -5px 0 2px #444;
    /* Sombra interior */
    box-shadow: 5px 5px 25px #CCCCCC inset;
}

.banner-wrap h1{
	color: #21610B;
	font-size: 45px;
	margin: 0;
	font-weight: bold;
	text-shadow:
      2px 2px 0 #AAA,
      6px 6px 2px #777,
      12px 12px 8px #444;       
}

.banner-wrap p{
	color: #336600;
	font-size: 24px;
	opacity: 0.7;
	text-shadow:
      2px 2px 0 #AAA,
      6px 6px 2px #777,
      12px 12px 8px #444;  
}

p{
	color: white;
	font-size: 24px;
	opacity: 0.7;
}

button{
	background-color: green;
	color: white;
	padding: 16px 48px;
	border-radius: 4px;
	text-decoration: none;
	transition: .3s;
	font-size: 20px;
	font-weight: bold;
	border:none;
}
.cards-wrap{
	width: 860px;
	margin: 60px auto;
}
.cards-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}
.card{
	background: white;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
	border-radius: 4px;
	padding: 24px;
	margin: 0px 20px;
}
.card img {
	width:200px;
	height: 200px;
}
footer{
	background: #404042;
	color: white;
	padding: 10px 15px;
	position: fixed;
	bottom: 0;
	left: 0px;
	right: 0px;
}
footer p{
	margin: 0;
	font-size: 16px;
}